Char/aashay_A.edf
Char/aashay_C.edf
Char/aashay_F.edf
Char/aashay_H.edf
Char/aashay_J.edf
Char/aashay_M.edf
Char/aashay_P.edf
Char/aashay_S.edf
Char/aashay_T.edf
Char/aashay_Y.edf
Char/AnkurGhartaan_A.edf
Char/AnkurGhartaan_C.edf
Char/AnkurGhartaan_F.edf
Char/AnkurGhartaan_H.edf
Char/AnkurGhartaan_J.edf
Char/AnkurGhartaan_M.edf
Char/AnkurGhartaan_P.edf
Char/AnkurGhartaan_S.edf
Char/AnkurGhartaan_T.edf
Char/AnkurGhartaan_Y.edf
Char/AshishMohan_A.edf
Char/AshishMohan_C.edf
Char/AshishMohan_F.edf
Char/AshishMohan_H.edf
Char/AshishMohan_J.edf
Char/AshishMohan_M.edf
Char/AshishMohan_P.edf
Char/AshishMohan_S.edf
Char/AshishMohan_T.edf
Char/AshishMohan_Y.edf
Char/atulraj_A.edf
Char/atulraj_C.edf
Char/atulraj_F.edf
Char/atulraj_H.edf
Char/atulraj_J.edf
Char/atulraj_M.edf
Char/atulraj_P.edf
Char/atulraj_S.edf
Char/atulraj_T.edf
Char/atulraj_Y.edf
Char/ChandanSingha_A.edf
Char/ChandanSingha_C.edf
Char/ChandanSingha_F.edf
Char/ChandanSingha_H.edf
Char/ChandanSingha_J.edf
Char/ChandanSingha_M.edf
Char/ChandanSingha_P.edf
Char/ChandanSingha_S.edf
Char/ChandanSingha_T.edf
Char/ChandanSingha_Y.edf
Char/gautam_A.edf
Char/gautam_C.edf
Char/gautam_F.edf
Char/gautam_H.edf
Char/gautam_J.edf
Char/gautam_M.edf
Char/gautam_P.edf
Char/gautam_S.edf
Char/gautam_T.edf
Char/gautam_Y.edf
Char/hemant_A.edf
Char/hemant_C.edf
Char/hemant_F.edf
Char/hemant_H.edf
Char/hemant_J.edf
Char/hemant_M.edf
Char/hemant_P.edf
Char/hemant_S.edf
Char/hemant_T.edf
Char/hemant_Y.edf
Char/kartik_A.edf
Char/kartik_C.edf
Char/kartik_F.edf
Char/kartik_H.edf
Char/kartik_J.edf
Char/kartik_M.edf
Char/kartik_P.edf
Char/kartik_S.edf
Char/kartik_T.edf
Char/kartik_Y.edf
Char/mahendra_A.edf
Char/mahendra_C.edf
Char/mahendra_F.edf
Char/mahendra_H.edf
Char/mahendra_J.edf
Char/mahendra_M.edf
Char/mahendra_P.edf
Char/mahendra_S.edf
Char/mahendra_T.edf
Char/mahendra_Y.edf
Char/Nishant_A.edf
Char/Nishant_C.edf
Char/Nishant_F.edf
Char/Nishant_H.edf
Char/Nishant_J.edf
Char/Nishant_M.edf
Char/Nishant_P.edf
Char/Nishant_S.edf
Char/Nishant_T.edf
Char/Nishant_Y.edf
Char/Piyush_A.edf
Char/Piyush_C.edf
Char/Piyush_F.edf
Char/Piyush_H.edf
Char/Piyush_J.edf
Char/Piyush_M.edf
Char/Piyush_P.edf
Char/Piyush_S.edf
Char/Piyush_T.edf
Char/Piyush_Y.edf
Char/Pradeep_A.edf
Char/Pradeep_C.edf
Char/Pradeep_F.edf
Char/Pradeep_H.edf
Char/Pradeep_J.edf
Char/Pradeep_M.edf
Char/Pradeep_P.edf
Char/Pradeep_S.edf
Char/Pradeep_T.edf
Char/Pradeep_Y.edf
Char/Prateek_A.edf
Char/Prateek_C.edf
Char/Prateek_F.edf
Char/Prateek_H.edf
Char/Prateek_J.edf
Char/Prateek_M.edf
Char/Prateek_P.edf
Char/Prateek_S.edf
Char/Prateek_T.edf
Char/Prateek_Y.edf
Char/Rajkumar_A.edf
Char/Rajkumar_C.edf
Char/Rajkumar_F.edf
Char/Rajkumar_H.edf
Char/Rajkumar_J.edf
Char/Rajkumar_M.edf
Char/Rajkumar_P.edf
Char/Rajkumar_S.edf
Char/Rajkumar_T.edf
Char/Rajkumar_Y.edf
Char/rakesh_A.edf
Char/rakesh_C.edf
Char/rakesh_F.edf
Char/rakesh_H.edf
Char/rakesh_J.edf
Char/rakesh_M.edf
Char/rakesh_P.edf
Char/rakesh_S.edf
Char/rakesh_T.edf
Char/rakesh_Y.edf
Char/sachin_A.edf
Char/sachin_C.edf
Char/sachin_F.edf
Char/sachin_H.edf
Char/sachin_J.edf
Char/sachin_M.edf
Char/sachin_P.edf
Char/sachin_S.edf
Char/sachin_T.edf
Char/sachin_Y.edf
Char/samar_A.edf
Char/samar_C.edf
Char/samar_F.edf
Char/samar_H.edf
Char/samar_J.edf
Char/samar_M.edf
Char/samar_P.edf
Char/samar_S.edf
Char/samar_T.edf
Char/samar_Y.edf
Char/shubhamtiwari_A.edf
Char/shubhamtiwari_C.edf
Char/shubhamtiwari_F.edf
Char/shubhamtiwari_H.edf
Char/shubhamtiwari_J.edf
Char/shubhamtiwari_M.edf
Char/shubhamtiwari_P.edf
Char/shubhamtiwari_S.edf
Char/shubhamtiwari_T.edf
Char/shubhamtiwari_Y.edf
Char/shweta_A.edf
Char/shweta_C.edf
Char/shweta_F.edf
Char/shweta_H.edf
Char/shweta_J.edf
Char/shweta_M.edf
Char/shweta_P.edf
Char/shweta_S.edf
Char/shweta_T.edf
Char/shweta_Y.edf
Char/Srishti_A.edf
Char/Srishti_C.edf
Char/Srishti_F.edf
Char/Srishti_H.edf
Char/Srishti_J.edf
Char/Srishti_M.edf
Char/Srishti_P.edf
Char/Srishti_S.edf
Char/Srishti_T.edf
Char/Srishti_Y.edf
Char/Udit_A.edf
Char/Udit_C.edf
Char/Udit_F.edf
Char/Udit_H.edf
Char/Udit_J.edf
Char/Udit_M.edf
Char/Udit_P.edf
Char/Udit_S.edf
Char/Udit_T.edf
Char/Udit_Y.edf
Char/VikasPHD_A.edf
Char/VikasPHD_C.edf
Char/VikasPHD_F.edf
Char/VikasPHD_H.edf
Char/VikasPHD_J.edf
Char/VikasPHD_M.edf
Char/VikasPHD_P.edf
Char/VikasPHD_S.edf
Char/VikasPHD_T.edf
Char/VikasPHD_Y.edf
Char/Vipin_A.edf
Char/Vipin_C.edf
Char/Vipin_F.edf
Char/Vipin_H.edf
Char/Vipin_J.edf
Char/Vipin_M.edf
Char/Vipin_P.edf
Char/Vipin_S.edf
Char/Vipin_T.edf
Char/Vipin_Y.edf
Image/aashay_Apple.edf
Image/aashay_Car.edf
Image/aashay_Dog.edf
Image/aashay_Gold.edf
Image/aashay_Mobile.edf
Image/aashay_Rose.edf
Image/aashay_Scooter.edf
Image/aashay_Tiger.edf
Image/aashay_Wallet.edf
Image/aashay_Watch.edf
Image/AnkurGhartaan_Apple.edf
Image/AnkurGhartaan_Car.edf
Image/AnkurGhartaan_Dog.edf
Image/AnkurGhartaan_Gold.edf
Image/AnkurGhartaan_Mobile.edf
Image/AnkurGhartaan_Rose.edf
Image/AnkurGhartaan_Scooter.edf
Image/AnkurGhartaan_Tiger.edf
Image/AnkurGhartaan_Wallet.edf
Image/AnkurGhartaan_Watch.edf
Image/AshishMohan_Apple.edf
Image/AshishMohan_Car.edf
Image/AshishMohan_Dog.edf
Image/AshishMohan_Gold.edf
Image/AshishMohan_Mobile.edf
Image/AshishMohan_Rose.edf
Image/AshishMohan_Scooter.edf
Image/AshishMohan_Tiger.edf
Image/AshishMohan_Wallet.edf
Image/AshishMohan_Watch.edf
Image/atulraj_Apple.edf
Image/atulraj_Car.edf
Image/atulraj_Dog.edf
Image/atulraj_Gold.edf
Image/atulraj_Mobile.edf
Image/atulraj_Rose.edf
Image/atulraj_Scooter.edf
Image/atulraj_Tiger.edf
Image/atulraj_Wallet.edf
Image/atulraj_Watch.edf
Image/ChandanSingha_Apple.edf
Image/ChandanSingha_Car.edf
Image/ChandanSingha_Dog.edf
Image/ChandanSingha_Gold.edf
Image/ChandanSingha_Mobile.edf
Image/ChandanSingha_Rose.edf
Image/ChandanSingha_Scooter.edf
Image/ChandanSingha_Tiger.edf
Image/ChandanSingha_Wallet.edf
Image/ChandanSingha_Watch.edf
Image/gautam_Apple.edf
Image/gautam_Car.edf
Image/gautam_Dog.edf
Image/gautam_Gold.edf
Image/gautam_Mobile.edf
Image/gautam_Rose.edf
Image/gautam_Scooter.edf
Image/gautam_Tiger.edf
Image/gautam_Wallet.edf
Image/gautam_Watch.edf
Image/hemant_Apple.edf
Image/hemant_Car.edf
Image/hemant_Dog.edf
Image/hemant_Gold.edf
Image/hemant_Mobile.edf
Image/hemant_Rose.edf
Image/hemant_Scooter.edf
Image/hemant_Tiger.edf
Image/hemant_Wallet.edf
Image/hemant_Watch.edf
Image/kartik_Apple.edf
Image/kartik_Car.edf
Image/kartik_Dog.edf
Image/kartik_Gold.edf
Image/kartik_Mobile.edf
Image/kartik_Rose.edf
Image/kartik_Scooter.edf
Image/kartik_Tiger.edf
Image/kartik_Wallet.edf
Image/kartik_Watch.edf
Image/mahendra_Apple.edf
Image/mahendra_Car.edf
Image/mahendra_Dog.edf
Image/mahendra_Gold.edf
Image/mahendra_Mobile.edf
Image/mahendra_Rose.edf
Image/mahendra_Scooter.edf
Image/mahendra_Tiger.edf
Image/mahendra_Wallet.edf
Image/mahendra_Watch.edf
Image/Nishant_Apple.edf
Image/Nishant_Car.edf
Image/Nishant_Dog.edf
Image/Nishant_Gold.edf
Image/Nishant_Mobile.edf
Image/Nishant_Rose.edf
Image/Nishant_Scooter.edf
Image/Nishant_Tiger.edf
Image/Nishant_Wallet.edf
Image/Nishant_Watch.edf
Image/Piyush_Apple.edf
Image/Piyush_Car.edf
Image/Piyush_Dog.edf
Image/Piyush_Gold.edf
Image/Piyush_Mobile.edf
Image/Piyush_Rose.edf
Image/Piyush_Scooter.edf
Image/Piyush_Tiger.edf
Image/Piyush_Wallet.edf
Image/Piyush_Watch.edf
Image/Pradeep_Apple.edf
Image/Pradeep_Car.edf
Image/Pradeep_Dog.edf
Image/Pradeep_Gold.edf
Image/Pradeep_Mobile.edf
Image/Pradeep_Rose.edf
Image/Pradeep_Scooter.edf
Image/Pradeep_Tiger.edf
Image/Pradeep_Wallet.edf
Image/Pradeep_Watch.edf
Image/Prateek_Apple.edf
Image/Prateek_Car.edf
Image/Prateek_Dog.edf
Image/Prateek_Gold.edf
Image/Prateek_Mobile.edf
Image/Prateek_Rose.edf
Image/Prateek_Scooter.edf
Image/Prateek_Tiger.edf
Image/Prateek_Wallet.edf
Image/Prateek_Watch.edf
Image/Rajkumar_Apple.edf
Image/Rajkumar_Car.edf
Image/Rajkumar_Dog.edf
Image/Rajkumar_Gold.edf
Image/Rajkumar_Mobile.edf
Image/Rajkumar_Rose.edf
Image/Rajkumar_Scooter.edf
Image/Rajkumar_Tiger.edf
Image/Rajkumar_Wallet.edf
Image/Rajkumar_Watch.edf
Image/rakesh_Apple.edf
Image/rakesh_Car.edf
Image/rakesh_Dog.edf
Image/rakesh_Gold.edf
Image/rakesh_Mobile.edf
Image/rakesh_Rose.edf
Image/rakesh_Scooter.edf
Image/rakesh_Tiger.edf
Image/rakesh_Wallet.edf
Image/rakesh_Watch.edf
Image/sachin_Apple.edf
Image/sachin_Car.edf
Image/sachin_Dog.edf
Image/sachin_Gold.edf
Image/sachin_Mobile.edf
Image/sachin_Rose.edf
Image/sachin_Scooter.edf
Image/sachin_Tiger.edf
Image/sachin_Wallet.edf
Image/sachin_Watch.edf
Image/samar_Apple.edf
Image/samar_Car.edf
Image/samar_Dog.edf
Image/samar_Gold.edf
Image/samar_Mobile.edf
Image/samar_Rose.edf
Image/samar_Scooter.edf
Image/samar_Tiger.edf
Image/samar_Wallet.edf
Image/samar_Watch.edf
Image/shubhamtiwari_Apple.edf
Image/shubhamtiwari_Car.edf
Image/shubhamtiwari_Dog.edf
Image/shubhamtiwari_Gold.edf
Image/shubhamtiwari_Mobile.edf
Image/shubhamtiwari_Rose.edf
Image/shubhamtiwari_scooter.edf
Image/shubhamtiwari_Tiger.edf
Image/shubhamtiwari_Wallet.edf
Image/shubhamtiwari_Watch.edf
Image/shweta_Apple.edf
Image/shweta_Car.edf
Image/shweta_Dog.edf
Image/shweta_Gold.edf
Image/shweta_Mobile.edf
Image/shweta_Rose.edf
Image/shweta_Scooter.edf
Image/shweta_Tiger.edf
Image/shweta_Wallet.edf
Image/shweta_Watch.edf
Image/Srishti_Apple.edf
Image/Srishti_Car.edf
Image/Srishti_Dog.edf
Image/Srishti_Gold.edf
Image/Srishti_Mobile.edf
Image/Srishti_Rose.edf
Image/Srishti_Scooter.edf
Image/Srishti_Tiger.edf
Image/Srishti_Wallet.edf
Image/Srishti_Watch.edf
Image/Udit_Apple.edf
Image/Udit_Car.edf
Image/Udit_Dog.edf
Image/Udit_Gold.edf
Image/Udit_Mobile.edf
Image/Udit_Rose.edf
Image/Udit_Scooter.edf
Image/Udit_Tiger.edf
Image/Udit_Wallet.edf
Image/Udit_Watch.edf
Image/VikasPHD_Apple.edf
Image/VikasPHD_Car.edf
Image/VikasPHD_Dog.edf
Image/VikasPHD_Gold.edf
Image/VikasPHD_Mobile.edf
Image/VikasPHD_Rose.edf
Image/VikasPHD_Scooter.edf
Image/VikasPHD_Tiger.edf
Image/VikasPHD_Wallet.edf
Image/VikasPHD_Watch.edf
Image/Vipin_Apple.edf
Image/Vipin_Car.edf
Image/Vipin_Dog.edf
Image/Vipin_Gold.edf
Image/Vipin_Mobile.edf
Image/Vipin_Rose.edf
Image/Vipin_Scooter.edf
Image/Vipin_Tiger.edf
Image/Vipin_Wallet.edf
Image/Vipin_Watch.edf
Digit/aashay_0.edf
Digit/aashay_1.edf
Digit/aashay_2.edf
Digit/aashay_3.edf
Digit/aashay_4.edf
Digit/aashay_5.edf
Digit/aashay_6.edf
Digit/aashay_7.edf
Digit/aashay_8.edf
Digit/aashay_9.edf
Digit/AnkurGhartaan_0.edf
Digit/AnkurGhartaan_1.edf
Digit/AnkurGhartaan_2.edf
Digit/AnkurGhartaan_3.edf
Digit/AnkurGhartaan_4.edf
Digit/AnkurGhartaan_5.edf
Digit/AnkurGhartaan_6.edf
Digit/AnkurGhartaan_7.edf
Digit/AnkurGhartaan_8.edf
Digit/AnkurGhartaan_9.edf
Digit/AshishMohan_0.edf
Digit/AshishMohan_1.edf
Digit/AshishMohan_2.edf
Digit/AshishMohan_3.edf
Digit/AshishMohan_4.edf
Digit/AshishMohan_5.edf
Digit/AshishMohan_6.edf
Digit/AshishMohan_7.edf
Digit/AshishMohan_8.edf
Digit/AshishMohan_9.edf
Digit/atulraj_0.edf
Digit/atulraj_1.edf
Digit/atulraj_2.edf
Digit/atulraj_3.edf
Digit/atulraj_4.edf
Digit/atulraj_5.edf
Digit/atulraj_6.edf
Digit/atulraj_7.edf
Digit/atulraj_8.edf
Digit/atulraj_9.edf
Digit/ChandanSingha_0.edf
Digit/ChandanSingha_1.edf
Digit/ChandanSingha_2.edf
Digit/ChandanSingha_3.edf
Digit/ChandanSingha_4.edf
Digit/ChandanSingha_5.edf
Digit/ChandanSingha_6.edf
Digit/ChandanSingha_7.edf
Digit/ChandanSingha_8.edf
Digit/ChandanSingha_9.edf
Digit/gautam_0.edf
Digit/gautam_1.edf
Digit/gautam_2.edf
Digit/gautam_3.edf
Digit/gautam_4.edf
Digit/gautam_5.edf
Digit/gautam_6.edf
Digit/gautam_7.edf
Digit/gautam_8.edf
Digit/gautam_9.edf
Digit/hemant_0.edf
Digit/hemant_1.edf
Digit/hemant_2.edf
Digit/hemant_3.edf
Digit/hemant_4.edf
Digit/hemant_5.edf
Digit/hemant_6.edf
Digit/hemant_7.edf
Digit/hemant_8.edf
Digit/hemant_9.edf
Digit/kartik_0.edf
Digit/kartik_1.edf
Digit/kartik_2.edf
Digit/kartik_3.edf
Digit/kartik_4.edf
Digit/kartik_5.edf
Digit/kartik_6.edf
Digit/kartik_7.edf
Digit/kartik_8.edf
Digit/kartik_9.edf
Digit/mahendra_0.edf
Digit/mahendra_1.edf
Digit/mahendra_2.edf
Digit/mahendra_3.edf
Digit/mahendra_4.edf
Digit/mahendra_5.edf
Digit/mahendra_6.edf
Digit/mahendra_7.edf
Digit/mahendra_8.edf
Digit/mahendra_9.edf
Digit/Nishant_0.edf
Digit/Nishant_1.edf
Digit/Nishant_2.edf
Digit/Nishant_3.edf
Digit/Nishant_4.edf
Digit/Nishant_5.edf
Digit/Nishant_6.edf
Digit/Nishant_7.edf
Digit/Nishant_8.edf
Digit/Nishant_9.edf
Digit/Piyush_0.edf
Digit/Piyush_1.edf
Digit/Piyush_2.edf
Digit/Piyush_3.edf
Digit/Piyush_4.edf
Digit/Piyush_5.edf
Digit/Piyush_6.edf
Digit/Piyush_7.edf
Digit/Piyush_8.edf
Digit/Piyush_9.edf
Digit/pradeep_0.edf
Digit/pradeep_1.edf
Digit/pradeep_2.edf
Digit/pradeep_3.edf
Digit/pradeep_4.edf
Digit/pradeep_5.edf
Digit/pradeep_6.edf
Digit/pradeep_7.edf
Digit/pradeep_8.edf
Digit/pradeep_9.edf
Digit/Prateek_0.edf
Digit/Prateek_1.edf
Digit/Prateek_2.edf
Digit/Prateek_3.edf
Digit/Prateek_4.edf
Digit/Prateek_5.edf
Digit/Prateek_6.edf
Digit/Prateek_7.edf
Digit/Prateek_8.edf
Digit/Prateek_9.edf
Digit/Rajkumarsaini_0.edf
Digit/Rajkumarsaini_1.edf
Digit/Rajkumarsaini_2.edf
Digit/Rajkumarsaini_3.edf
Digit/Rajkumarsaini_4.edf
Digit/Rajkumarsaini_5.edf
Digit/Rajkumarsaini_6.edf
Digit/Rajkumarsaini_7.edf
Digit/Rajkumarsaini_8.edf
Digit/Rajkumarsaini_9.edf
Digit/rakesh_0.edf
Digit/rakesh_1.edf
Digit/rakesh_2.edf
Digit/rakesh_3.edf
Digit/rakesh_4.edf
Digit/rakesh_5.edf
Digit/rakesh_6.edf
Digit/rakesh_7.edf
Digit/rakesh_8.edf
Digit/rakesh_9.edf
Digit/sachin_0.edf
Digit/sachin_1.edf
Digit/sachin_2.edf
Digit/sachin_3.edf
Digit/sachin_4.edf
Digit/sachin_5.edf
Digit/sachin_6.edf
Digit/sachin_7.edf
Digit/sachin_8.edf
Digit/sachin_9.edf
Digit/samar_0.edf
Digit/samar_1.edf
Digit/samar_2.edf
Digit/samar_3.edf
Digit/samar_4.edf
Digit/samar_5.edf
Digit/samar_6.edf
Digit/samar_7.edf
Digit/samar_8.edf
Digit/samar_9.edf
Digit/shubhamtiwari_0.edf
Digit/shubhamtiwari_1.edf
Digit/shubhamtiwari_2.edf
Digit/shubhamtiwari_3.edf
Digit/shubhamtiwari_4.edf
Digit/shubhamtiwari_5.edf
Digit/shubhamtiwari_6.edf
Digit/shubhamtiwari_7.edf
Digit/shubhamtiwari_8.edf
Digit/shubhamtiwari_9.edf
Digit/shweta_0.edf
Digit/shweta_1.edf
Digit/shweta_2.edf
Digit/shweta_3.edf
Digit/shweta_4.edf
Digit/shweta_5.edf
Digit/shweta_6.edf
Digit/shweta_7.edf
Digit/shweta_8.edf
Digit/shweta_9.edf
Digit/Srishti_0.edf
Digit/Srishti_1.edf
Digit/Srishti_2.edf
Digit/Srishti_3.edf
Digit/Srishti_4.edf
Digit/Srishti_5.edf
Digit/Srishti_6.edf
Digit/Srishti_7.edf
Digit/Srishti_8.edf
Digit/Srishti_9.edf
Digit/Udit_0.edf
Digit/Udit_1.edf
Digit/Udit_2.edf
Digit/Udit_3.edf
Digit/Udit_4.edf
Digit/Udit_5.edf
Digit/Udit_6.edf
Digit/Udit_7.edf
Digit/Udit_8.edf
Digit/Udit_9.edf
Digit/VikasPHD_0.edf
Digit/VikasPHD_1.edf
Digit/VikasPHD_2.edf
Digit/VikasPHD_3.edf
Digit/VikasPHD_4.edf
Digit/VikasPHD_5.edf
Digit/VikasPHD_6.edf
Digit/VikasPHD_7.edf
Digit/VikasPHD_8.edf
Digit/VikasPHD_9.edf
Digit/Vipin_0.edf
Digit/Vipin_1.edf
Digit/Vipin_2.edf
Digit/Vipin_3.edf
Digit/Vipin_4.edf
Digit/Vipin_5.edf
Digit/Vipin_6.edf
Digit/Vipin_7.edf
Digit/Vipin_8.edf
Digit/Vipin_9.edf
dataset.npz
char_dataset.npz
bibref/a_transformer-based_approach_for_raw_eeg_classification_2022.pdf
bibref/analysis_of_eeg_frequency_bands_for_envisioned_speech_recognition.pdf
bibref/attention_is_all_you_need_2017.pdf
bibref/eeg_classification_with_transformer-based_models_2021_ref.pdf

bibref/eeg_system_for_aac_with_RNN.pdf

model.png
VIT_model.png
BERT_model.png

.gitignore
Original_model.png
char_flatten_dataset.npz
__pycache__/eeg_transformer.cpython-38.pyc
__pycache__/train.cpython-38.pyc
