asgiref==3.5.2
asttokens==2.0.8
backcall==0.2.0
backports.zoneinfo==0.2.1
brotlipy==0.7.0
build==0.9.0
certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi
cffi @ file:///C:/Windows/Temp/abs_6808y9x40v/croots/recipe/cffi_1659598653989/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
colorama==0.4.5
contourpy==1.0.6
cryptography @ file:///C:/b/abs_36x9ifdcl4/croot/cryptography_1665612655344/work
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
entrypoints==0.4
executing==1.0.0
filelock @ file:///opt/conda/conda-bld/filelock_1647002191454/work
fonttools==4.38.0
future==0.18.3
gast==0.3.3
huggingface-hub @ file:///C:/b/abs_8d8wo2z8c6/croot/huggingface_hub_1667490298905/work
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
image==1.5.33
ipykernel==6.15.2
ipython==8.5.0
jedi==0.18.1
joblib==1.2.0
jupyter_client==7.3.5
jupyter_core @ file:///C:/b/abs_b8r5lb5eus/croot/jupyter_core_1668084445779/work
kiwisolver==1.4.4
matplotlib==3.6.2
matplotlib-inline==0.1.6
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
nest-asyncio==1.5.5
numpy==1.23.2
packaging==21.3
parso==0.8.3
pep517==0.13.0
pickleshare==0.7.5
Pillow==9.3.0
pip-tools==6.9.0
prompt-toolkit==3.0.31
psutil==5.9.2
pure-eval==0.2.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.13.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil==2.8.2
pywin32==304
PyYAML==6.0
pyzmq==23.2.1
regex @ file:///C:/ci/regex_1658258240596/work
requests @ file:///C:/ci/requests_1657717096906/work
scikit-learn==1.1.3
scipy==1.4.1
six==1.16.0
sqlparse==0.4.2
stack-data==0.5.0
threadpoolctl==3.1.0
tokenizers @ file:///C:/ci/tokenizers_1651821356948/work
tomli==2.0.1
torch==1.10.2
torchsummary==1.5.1
tornado==6.2
tqdm @ file:///C:/b/abs_0axbz66qik/croots/recipe/tqdm_1664392691071/work
traitlets==5.3.0
transformers @ file:///C:/b/abs_8byf5_j714/croot/transformers_1667919454001/work
typing_extensions @ file:///C:/Windows/TEMP/abs_dd2d0moa85/croots/recipe/typing_extensions_1659638831135/work
tzdata==2022.2
urllib3 @ file:///C:/b/abs_a8_3vfznn_/croot/urllib3_1666298943664/work
wcwidth==0.2.5
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
