absl-py==1.2.0
appdirs==1.4.4
asgiref==3.5.2
asttokens==2.0.8
astunparse==1.6.3
backcall==0.2.0
backports.zoneinfo==0.2.1
cachetools==5.2.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
cycler==0.11.0
Cython==0.29.32
debugpy==1.6.3
decorator==5.1.1
dill==0.3.6
Django==4.1.6
dm-tree==0.1.7
entrypoints==0.4
etils==0.9.0
executing==1.0.0
filelock==3.8.0
Flask==2.2.2
flatbuffers==2.0.7
fonttools==4.37.1
gast==0.3.3
gin-config==0.5.0
google-api-core==2.10.2
google-api-python-client==2.65.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
grpcio==1.48.1
h5py==3.7.0
httplib2==0.21.0
huggingface-hub==0.10.1
idna==3.3
image==1.5.33
immutabledict==2.2.2
importlib-metadata==4.12.0
importlib-resources==5.10.0
ipykernel==6.15.2
ipython==8.10.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jupyter-core==4.11.2
jupyter_client==7.3.5
kaggle==1.5.12
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==14.0.6
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mkl-service==2.4.0
mne==1.2.1
nest-asyncio==1.5.5
networkx==2.8.6
numpy==1.23.2
oauth2client==4.1.3
oauthlib==3.2.2
opencv-python==4.6.0.66
opencv-python-headless==4.5.2.52
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.4
parso==0.8.3
pickleshare==0.7.5
Pillow==9.3.0
pooch==1.6.0
portalocker==2.6.0
promise==2.3
prompt-toolkit==3.0.31
protobuf==3.19.6
psutil==5.9.2
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pydot==1.4.2
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-slugify==6.1.2
pytz==2022.2.1
PyWavelets==1.4.1
pywin32==304
PyYAML==5.4.1
pyzmq==23.2.1
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
sacrebleu==2.2.0
scikeras==0.9.0
scikit-image==0.19.3
scikit-learn==1.1.3
scipy==1.4.1
seaborn==0.12.1
sentencepiece==0.1.97
seqeval==1.2.2
six==1.16.0
sqlparse==0.4.2
stack-data==0.5.0
tabulate==0.9.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.1
tensorflow-addons==0.18.0
tensorflow-datasets==4.7.0
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.1
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.10.0
tensorflow-model-optimization==0.7.3
tensorflow-text==2.10.0
termcolor==1.1.0
text-unidecode==1.3
tf-models-official==2.10.0
tf-slim==1.1.0
threadpoolctl==3.1.0
tifffile==2022.8.12
tokenizers==0.13.2
toml==0.10.2
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
transformers==4.24.0
typeguard==2.13.3
typing_extensions==4.3.0
tzdata==2022.2
uritemplate==4.1.1
urllib3==1.26.12
wcwidth==0.2.5
Werkzeug==2.2.3
wincertstore==0.2
wrapt==1.14.1
zipp==3.8.1
